.login-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #4fa7d8, #3b7bbf);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 380px;
  padding: 30px;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.full-width {
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #3b7bbf;
}

.login-btn {
  height: 45px;
  margin-top: 20px;
  position: relative;
}

mat-progress-spinner {
  position: absolute;
  left: calc(50% - 11px);
  top: calc(50% - 11px);
}
