<h2 mat-dialog-title>Nova Conta</h2>

<div mat-dialog-content [formGroup]="form" class="dialog-content">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Mesa</mat-label>
    <mat-select formControlName="mesaId">
      <mat-option *ngFor="let m of mesas" [value]="m.id">
        Mesa {{ m.numero }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>CPF do Titular</mat-label>
    <input matInput formControlName="cpfTitular" placeholder="Somente números">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome do Titular</mat-label>
    <input matInput formControlName="nomeTitular">
  </mat-form-field>

</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="fechar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
    Salvar
  </button>
</div>
